<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
<meta name="description" content="Wireframe design of a product display by Pingendo">
<meta name="keywords" content="Pingendo bootstrap example template wireframe product">
<meta name="author" content="Pingendo">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<title>Everyolo</title>