<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse text-center justify-content-between" id="navbar2SupportedContent">
        <a class="p-2 text-secondary" href="/?id=<%=query%>"><i class="fa fa-dot-circle-o fa-lg d-block pt-1"></i></a>
        <% if (query == "topic") {%>
            <a class="p-2 text-secondary" href="#">Product</a>
            <a class="p-2 text-secondary" href="#">Features</a>
            <a class="p-2 text-secondary" href="#">Support</a>
            <a class="p-2 text-secondary" href="/login">Login</a>
            <a class="p-2 text-secondary" href="/signup">Sign Up</a>
        <% } else {%>
            <a class="p-2 text-secondary" href="#">Product</a>
            <a class="p-2 text-secondary" href="#">Features</a>
            <a class="p-2 text-secondary" href="#">Support</a>
            <a class="p-2 text-secondary" href="/">Logout</a>
        <% }%>
        </div>
    </div>
</nav>
