<!DOCTYPE html>
<html>
    <head>
        <% include ./part/head.ejs %> 
        <link rel="stylesheet" href="css/wireframe.css">
    </head>
    <body>
        <% include ./part/nav.ejs %> 

        <div class="py-5 text-center mx-3 mb-3" style="background-image: url('assets/styleguide/cover_2.jpg');background-size:cover;">
            <div class="container">
                <div class="row">
                    <div class="mx-auto p-5 my-5 col-md-8">
                        <h1 class="display-4"><a class="p-2 text-secondary" style="text-decoration:none; color:#5363a0 !important;" href="/"><b>Everyolo</b></a></h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <hr> </div>
                </div>
                <div class="row">
                    <div class="col-12"> 
                        <a class="btn btn-primary mb-3" href="/topic/create" style="float:right;">CREATE</a>
                    </div>
                </div>
            </div>
        </div>

        <%# contents %>
        <div class="text-center">
            <div class="container-fluid">
                <% var i = 0, j; %>
                <% var bg_color = ''%>
                <% while(i < list.length) { %>
                    <div class="row px-2">
                        <% for(j = 0; j < 2; j++) { %>
                            <% if(i == list.length) { %>
                                <% break; %>
                            <% }%>

                            <% if(j % 2 == 0) { %>
                                <% bg_color = "bg-dark" %>
                            <% } else { %>
                                <% bg_color = "bg-primary" %>
                            <% }%>

                            <div class="col mx-2 <%=bg_color%> pt-5 px-5 mb-3">
                                <h2 class="mt-3"><b><a href="/topic/<%=list[i].id%>"><%=list[i].title%></a></b></h2>
                                <img class="img-fluid d-block" src="assets/styleguide/people_<%=i + 1%>.jpg">
                            </div>
                  
                            <%# 2번 반복이 무사히 되면 1을 더하지말고 반복문을 빠져나간다. %>
                            <% if(j == 1) { %>
                                <% break; %>
                            <% }%>
                            <% i += 1; %>
                        <% }%>
                    </div>
                    <% i += 1; %>
                <% }%>
            </div>
        </div>
        <%# end %>

        <% include ./part/footer.ejs %> 
    </body>
</html>